.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.headings {
  padding: 10px;
  display: flex;
  flex-direction:column;
}

.brush-selection {
  /* height: ; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.paint {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.palette {
  display: flex;

  
  margin-left: -30px;
}

.brush {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 400px;
  width: 400px;
  border: 1px solid black;
}

.square {
  transition: 0.5s;
}

.color-1 {
  background-color: #41213F;
}

.color-2 {
  background-color: white;
}

.color-3 {
  background-color: #F7CA0E;
}

.color-4 {  
  background-image: url(https://www.biography.com/.image/t_share/MTIwNjA4NjMzNzYwMjg2MjIw/nicolas-cage-9234498-1-402.jpg);
  background-size: cover;
}

.color-5 {
  background-color: #1DA297;
}

.color-6{
  background-color: #FF7C45;
}